<div id="admin-starter" class="scr-prof-net scr-prof">
  <table class="table table-bordered no-wrap">
    <tr><th colspan="2">Location Buttons</th></tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to geo_places_starter_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Places Starter
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Description...</td>
      <td>
        <%= link_to turbo_matcher_btn_path, class: 'btn btn-primary btn-xs btn-width' do %>
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i> Auto-Matcher
        <% end %>
      </td>
    </tr>
  </table>
</div><br>
