
<% urls = [] %>
<% @staffers.each do |staffer| %>
<% domain = staffer.domain %>
<% if !urls.include?(domain) %>
<% urls << domain %>
<% if core = grap_right_core(staffer) %>
<%= render partial: 'cores/acct_profile', locals: { core: core, num: "" } %>
<% else %>
<div id="core-detail" class="text-nowrap geo-result-table bg-blue">
  <p class="lead auto-margin">Account Not Merged Yet</p>
</div><br>
<% end %>
<%= render partial: 'core_staffs', locals: { staffers: grap_right_staffers(staffer) } %>
<% end %>
<% end %>
