// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bordered {
  border: 1px solid #ddd;
}

.level-heading {
  width: 110px;
  font-weight: bold !important;
  font-size: 100% !important;
}

.manage-btn {
  width: 50px;
}

.level-change-btns {
  .btn {
    margin-right: 5px;
  }
}

#admin-starter {
  th {
    font-weight: bold;
    font-size: 100%;
  }
}

.btn-width {
  width: 150px;
}
