// Place all the styles related to the cores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-gray: #d2d1d1;
$main-blue: #4285F4;

//
//
// // CORE ACCOUNT-PROFILE STARTS
// .account-profile-container {
//     // border: solid 1px #18a3cd;
//     border: solid 3px #87dedd;
//     border-radius: 6px;
// }
//
// .account-profile-container .th-1, .account-profile-container .th-2 {
//     border: solid 1px #137fa0;
//     color: white;
// }
//
// // .th-1 [darker shades]  -------
// .account-profile-container .th-1 {
//     background-image:linear-gradient(#1798c1, #137fa0);
// }
//
// // .th-2 [lighter shades]  -------
// .account-profile-container .th-2 {
//     background-image:linear-gradient(#32bde7, #1bb5e4);
// }
//
// // .th-2 gradients from a-c  -------
// .account-profile-container .th-2a {
//     background-image:linear-gradient(#48c4ea, #32bde7);
// }
//
// .account-profile-container .th-2b {
//     background-image:linear-gradient(#32bde7, #1bb5e4);
// }
//
// .account-profile-container .th-2c {
//     background-image:linear-gradient(#1bb5e4, #18a3cd);
// }
// // CORE ACCOUNT-PROFILE ENDS
//
//
// // CORE SEARCH STARTS
// .core-search-container {
//     border: solid 3px #87dedd;
//     border-radius: 6px;
// }
//
// .core-search-container .th-1, .core-search-container .th-2 {
//     border: solid 1px #137fa0;
//     color: white;
// }
//
// // .th-1 [darker shades]  -------
// .core-search-container .th-1 {
//     background-image:linear-gradient(#1798c1, #137fa0);
// }
//
// // .th-2 [lighter shades]  -------
// .core-search-container .th-2 {
//     background-image:linear-gradient(#32bde7, #1bb5e4);
// }
//
// // .th-2 gradients from a-c  -------
// .core-search-container .th-2a {
//     background-image:linear-gradient(#48c4ea, #32bde7);
// }
//
// .core-search-container .th-2b {
//     background-image:linear-gradient(#32bde7, #1bb5e4);
// }
//
// .core-search-container .th-2c {
//     background-image:linear-gradient(#1bb5e4, #18a3cd);
// }
//
// .wide-button.blue-button {
//     border: solid 2px #87dedd;
//     background-image:linear-gradient(#1798c1, #137fa0);
// }
//
// .wide-button.blue-button:hover {
//     background-image:linear-gradient(#137fa0, #1798c1);
// }
// // CORE SEARCH ENDS
//
//
// // NEW CORE ACCOUNT FILTER STARTS
// .filter-container {
//     border: solid 3px #87dedd;
//     border-radius: 6px;
// }
//
// .filter-container .th-1, .filter-container .th-2 {
//     border: solid 1px #268c8a;
//     color: white;
// }
//
// // .th-1 [darker shades]  -------
// .filter-container .th-1 {
//     background-image:linear-gradient(#2ca09e, #268c8a);
// }
//
// // .th-2 [lighter shades]  -------
// .filter-container .th-2 {
//     background-image:linear-gradient(#73d9d7, #31b4b2);
// }
//
// // .th-2 gradients from a-c  -------
// .filter-container .th-2a {
//     background-image:linear-gradient(#87dedd, #73d9d7);
// }
//
// .filter-container .th-2b {
//     background-image:linear-gradient(#73d9d7, #5fd3d1);
// }
//
// .filter-container .th-2c {
//     background-image:linear-gradient(#5fd3d1, #4bcecb);
// }
//
// .wide-button.green-button {
//     border: solid 2px #87dedd;
//     background-image:linear-gradient(#2ca09e, #268c8a);
// }
//
// .wide-button.green-button:hover {
//     background-image:linear-gradient(#268c8a, #2ca09e);
// }
// // NEW CORE ACCOUNT FILTER ENDS

#core-detail {
  border: solid 1px $main-gray;
  border-radius: 6px;

  table {
    margin-bottom: 0;
    box-shadow: none;
  }
}

.bg-yellow {
  background-color: darken(#ffffb3, 15%);
}

.bg-green {
  background-color: #5cb85c;
}

.bg-orange {
  background-color: #f0ad4e;
}

.bg-red {
  background-color: #c9302c;
}

.bg-light-green {
  background-image:linear-gradient(#f5ffff, #c8eac8);
}

.bg-light-red {
  background-image:linear-gradient(#fefcfc, #f6d5d5);
}

.bg-light-orange {
  background-image: linear-gradient(#fffcf8, #ffd599);
}
