<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <% if advanced_and_up %>
      <%= link_to 'Download CSV', indexers_path(format: "csv"), class: 'btn btn-primary btn-xs' %>
      <% end %>
    </div>
  </div>
</div>
