<div class="row margin-bottom-sm">
  <div class="col-md-12">
    <div class="pull-left">
      <% if advanced_and_up %>
      <span class="btn btn-primary btn-xs" onClick="mergeData();"><i class="fa fa-plus fa-green" aria-hidden="true"></i> Merge Data</span>
      <span class="btn btn-primary btn-xs" onClick="flagData();"><i class="fa fa-minus fa-red" aria-hidden="true"></i> Flag Data</span>
      <% end %>
    </div>

    <div class="pull-right">
      <% if advanced_and_up %>
      <%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary btn-xs' %>
      <% end %>
    </div>
  </div>
</div>
